@font-face {
  src: url("@/assets/fonts/SentyDragonPalace.ttf");
  font-family: SentyDragonPalace;
}

@font-face {
  src: url("@/assets/fonts/PingFangSC.ttf");
  font-family: PingFangSC;
}

@font-face {
  font-family: SentyFunPark;
  src: url("@/assets/fonts/SentyFunPark.ttf");
}